
<div style="text-align:center">
  <h1>
    Welcome!
  </h1>

<!-- Truncated for brevity -->
<button (click)="getData()">Fetch Data</button>
</div>

<!-- The code to display images -->
<div *ngFor="let image of data" style="text-align:center">
<!-- *ngFor directs a loop through all content in date (image in this case) and renders all the item in the list. -->
<h3>
  {{ image.title }}
<!-- The {{ image.title }} uses string interpolation to bind the image title to the <h3> tag. -->
</h3>
<img width="200" alt="thumbnail" [src]="image.thumbnailUrl">
</div>
