
<div style="text-align:center">
  <h1>
    Welcome to our Image Gallery!
  </h1>

<!-- Truncated for brevity -->
<button (click)="getData()">Fetch Data</button>
</div>


<!-- The code to display images -->
<div class="gallery" *ngFor="let image of data">
<!-- *ngFor directs a loop through all content in date (image in this case) and renders all the item in the list. -->
<a target="_blank" [href]="image.href">
  <img [src]="image.thumbnailUrl" width="300" height="200">
</a>
<div class="desc">{{image.title}}</div>

<!-- The {{ image.title }} uses string interpolation to bind the image title to the <h3> tag. -->

</div>
